.nopad { padding: 0 !important }

.dvMap {
    /*    font-size: 20px !important;*/
    text-align: center;
    color: white;
    margin: 5px 15px;
    padding: 15px;
    /*    font-size: 16px;*/
    background: -moz-linear-gradient(45deg, rgba(0, 51, 51, 1) 0%, rgba(5, 193, 255, 1) 50%, rgba(0, 51, 51, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0, 51, 51, 1)), color-stop(50%, rgba(5, 193, 255, 1)), color-stop(100%, rgba(0, 51, 51, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(0, 51, 51, 1) 0%, rgba(5, 193, 255, 1) 50%, rgba(0, 51, 51, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(0, 51, 51, 1) 0%, rgba(5, 193, 255, 1) 50%, rgba(0, 51, 51, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(0, 51, 51, 1) 0%, rgba(5, 193, 255, 1) 50%, rgba(0, 51, 51, 1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(0, 51, 51, 1) 0%, rgba(5, 193, 255, 1) 50%, rgba(0, 51, 51, 1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003333', endColorstr='#003333', GradientType=1); /* ie6-9 */
}

hr { border-top: 1px solid #b7b7b7; }

header {
    /*position: fixed;*/
    z-index: 999;
    width: 100%;
    border-bottom: 1px #d6d6d6 solid;
    /*height: 50px;*/
    /*background: #e2e2e2;
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );*/
    background-image: -webkit-linear-gradient(top, #fff 0, #f8f8f8 100%);
    background-image: -o-linear-gradient(top, #fff 0, #f8f8f8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
    background-image: linear-gradient(to bottom, #fff 0, #f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

html, body {
    /*padding-bottom: 60px;*/
    margin: 0;
    font-family:  'Roboto', sans-serif;
    font-weight: bolder;
    /*font-size: 1.5em;*/
    color: dimgrey;
}

body:after {
    background: #ececec;
    content: "";
    /*background-image: url(../1.jpg);*/
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 640px;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

/*.container .body { padding-top: 45px; }*/

.dvHeadItem {
    /*    display: inline-block;*/
    min-width: 50px;
    padding: 9px;
    text-align: center;
    cursor: pointer;
    font-family: B Koodak;
    /*    font-size: 20px;*/
    color: #4e4e4e;
    transition: all .2s ease-in-out;
}

.dvHeadItem.en { float: left; }

.dvHeadItem.fa { float: right; }

.navbar-nav > li {
    transition: all .2s ease-in-out;
    padding: 0 15px;
}

.dvHeadItem:hover, .navbar-nav > li:hover {
    /*background: #b3b3b3;
    border-radius: 6px;*/
    background-color: #b3b3b3 !important;
    -ms-transform: scaleX(1.1); /* IE 9 */
    -webkit-transform: scaleX(1.1); /* Safari */
    transform: scaleX(1.1);
    /*padding-bottom:5px*/
}

.navbar-nav > li.dropdown:hover {
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}

.dvMainPic {
    /*border: 1px black solid;*/
    height: 200px;
    width: 285px;
    box-shadow: 0 0 20px 0px #bdbdbd;
    margin: auto;
}

.dvCont {
    padding: 20px;
    overflow: auto;
    /*font-family: monospace;*/
    font-weight: bold;
    /*text-align: center;*/
    background: rgba(255, 255, 255, 0.80);
    /*    min-height: 500px;*/
    margin-bottom: 20px;
    border: 1px #e0e0e0 solid;
    /*display:grid;*/
    /*padding-top:70px*/
}

.dvContTitle {
    font-size: 1.5em;
    /*    margin-top: 50px;*/
    padding: 10px 0px;
}

/*.dvContTitle:before{
    font-family:FontAwesome;
    content:"\f138"
}*/

.pName {
    /*    font-size: 2em !important;*/
    padding-top: 20px;
    font-style: italic;
}

.container {
    /*background: white;*/
    /*width: 1200px;*/
    /*max-width: 100%;*/
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    /*opacity: 0.5;*/
}

dvBio:after { clear: both; }

.dvBioLeft { float: right; }

.dvBioRight { float: right; }

.dvPic {
    height: 50px;
    width: 50px;
}

.dv { background: white; }

.footer {
    display: block;
    position: absolute;
    height: 200px;
    background: #6d6d6d;
    color: white;
    width: 100%;
    padding: 14px;
}

.im {
    width: 100%;
    height: 100%;
}

.dvLogoIcon {
    /*padding:18px;*/
    height: 100px;
}

.dvName p {
    /*font-family: 'Ubuntu';*/
    /*    font-size: 20px;*/
    font-weight: 100;
}

.pMiddle { padding: 90px 0; }

.dvSlide img {
    width: 100%;
    height: 400px
}

.dvSlideTxt {
    height: 100%;
    background: #dadada;
}

.dvSliderPerson { }

.dvPersonImg {
    background: white;
    width: 120px;
    height: 150px;
    padding: 10px;
    margin: 0 auto;
}

.dvPersonImg img {
    /*max-height:100%;
    max-width:100%;
    width:auto;
    height:auto*/
    height: 100%;
    width: 100%;
    box-shadow: 0 0 20px 0px #bfbfbf
}

.dvPersonName {
    font-size: 20px;
    margin-bottom: 10px
}

.dvPersonInfo { text-align: left; }

.dvPersonExp { line-height: 25px; }

.dvImgLittle img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.badge-dr {
    background: -moz-linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(192,192,192,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(128,128,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#c0c0c0',GradientType=1 ); /* ie6-9 */
}

.badge-phd {
    background: -moz-radial-gradient(center, ellipse cover, rgba(128, 0, 128, 1) 0%, rgba(0, 0, 0, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(128, 0, 128, 1)), color-stop(100%, rgba(0, 0, 0, 1))); /* safari4+,chrome */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(128, 0, 128, 1) 0%, rgba(0, 0, 0, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(128, 0, 128, 1) 0%, rgba(0, 0, 0, 1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(128, 0, 128, 1) 0%, rgba(0, 0, 0, 1) 100%); /* ie10+ */
    background: radial-gradient(ellipse at center, rgba(128, 0, 128, 1) 0%, rgba(0, 0, 0, 1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#800080', endColorstr='#000000', GradientType=1); /* ie6-9 */
}

.badge-msc {
    background: -moz-radial-gradient(center, ellipse cover, #0000ff 0%, #000000 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #0000ff), color-stop(100%, #000000)); /* safari4+,chrome */
    background: -webkit-radial-gradient(center, ellipse cover, #0000ff 0%, #000000 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, #0000ff 0%, #000000 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, #0000ff 0%, #000000 100%); /* ie10+ */
    background: radial-gradient(ellipse at center, #0000ff 0%, #000000 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000ff', endColorstr='#000000', GradientType=1); /* ie6-9 */
}

.badge-bsc {
    background: -moz-radial-gradient(center, ellipse cover, #008000 0%, #000000 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #008000), color-stop(100%, #000000)); /* safari4+,chrome */
    background: -webkit-radial-gradient(center, ellipse cover, #008000 0%, #000000 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, #008000 0%, #000000 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, #008000 0%, #000000 100%); /* ie10+ */
    background: radial-gradient(ellipse at center, #008000 0%, #000000 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008000', endColorstr='#000000', GradientType=1); /* ie6-9 */
}

.dvBadgeInfo {
    font-size: 0.6em;
    /* display: inline-block; */
    font-style: italic;
}